* {
   list-style: none;
   font-family: 'Courier New', Courier, monospace; 
   padding: 0;
   margin: 0;
   box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    width: 100%;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 10px 100px;
    background-color: #1f2837;
    font-size: 18px;
    color: #e5e7eb;
}

a:visited, a {
    color: white;
    font-style: none;
    text-decoration: none;
}

ul {
    display: flex;
    align-items: center;
    gap: 10px;
}

main {
    
}



